main {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 10px;
    padding: 5px;
    .add-place {
        width: 230px;
        // height: 80px;
        background-color: $clr2;
        // color: $clr1;
        border-radius: 6px;
        padding:6px;
        display: flex;
        gap:12px;
        flex-direction: column;
        input {
            border-radius: 12px;
            border:0;
            padding:8px;
        }
        button {
            cursor: pointer;
            border: 0;
            background-color: $clr1;
            border-radius: 12px;
            height: 180px;
            font-size: 5rem;
            color: $clr2;
            transition: filter .3s ease-in-out;
            &:hover {
                filter: brightness(80%);
            }
        }
    }
    .place {
        width: 230px;
        height: 280px;
        background-color: $clr2;
        // color: $clr1;
        border-radius: 6px;
        overflow: auto;
        .place-details {
            padding:6px;
        }
        .items {
            // color: $clr2;
            gap: 5px;
            padding: 4px;
            .item {
                font-size: 0.8rem;
                border-radius: 5px;
                padding: 4px;
                background-color: $clr1;
            }
            .add-item {
                button {
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                    border: 0;
                    background-color: $clr1;
                    &:hover {
                        filter: brightness(90%);
                    }
                }
                .new-item-title {
                    width: 80%;
                }
                .new-item-quantity {
                    width: 45%;
                }
                .new-item-date {
                    width: 50%;
                }
            }
        }
    }
}