main {
    display: flex;
    .places-container {
        display: flex;
        flex-wrap: wrap;
        gap:8px;
        margin-top: 10px;
        padding: 5px;
        width: 70%;
        justify-content: center;
    }
    .add-place {
        max-width: 220px;
        height: 45vh;
        background-color: $clr2;
        // color: $clr1;
        border-radius: 6px;
        padding:6px;
        display: flex;
        gap:28px;
        flex-direction: column;
        input {
            border-radius: 12px;
            border:0;
            padding:8px;
        }
        button {
            cursor: pointer;
            border: 0;
            background-color: $clr1;
            border-radius: 12px;
            height: 340px;
            font-size: 5rem;
            color: $clr2;
            transition: filter .3s ease-in-out;
            &:hover {
                filter: brightness(80%);
            }
        }
    }
    .place {
        max-width: 220px;
        height: 45vh;
        background-color: $clr2;
        // color: $clr1;
        padding-inline-end: 4px;
        border-radius: 6px;

        .place-details {
            padding:6px;
        }
        .item-list {
            height: 41.5vh;
            overflow: auto;
        }
    }
}