.store-page {
    height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .stores {
        gap: 25px;
    }

    .add-store {
        position: relative;
        width: 230px;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $clr1;
        border-radius: 6px;
        border: 1px solid $clr4;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .colors {
            gap: 16px;
            flex-wrap:wrap;
            align-items: center;
            justify-content: center;
            div {
                cursor: pointer;
                border-radius: 4px;
                transition: scale .2s ease-in-out;
                &.selected {
                    scale: 1.2;
                    border: 1px solid $clr4;
                }
                &:hover {
                    scale: 1.2;
                }
            }
        }


    }
}