.shopping-list {
    width: 30%;
    height: calc(100vh - 75px);
    border: 1px solid $clr2;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;

    form {
        gap:5px;
        padding: 5px;
        // input {
        //     border-radius: 12px;
        //     border: 0;
        //     padding: 8px;
        // }
    }

    .compare-btn, .add-grocery-btn {
        cursor: pointer;
        font-size: 1.1rem;
        border: 1px solid $clr2;
        background-color: $clr1;
        border-radius: 8px;
        padding: 2px;
        text-align: center;
        width: fit-content;
        transition: filter .2s ease-in-out;

        &:hover {
            filter: brightness(80%);
        }
    }

    ul {
        padding: 4px;
        gap: 4px;
        overflow: auto;
        height: 50%;
        border: 1px solid $clr2;
        border-radius: 8px;

        li {
            font-size: 1rem;
            border-radius: 5px;
            padding: 4px;
            background-color: $clr1;
        }
    }
}