.store-preview {
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: scale .2s ease-in-out;
    border: 1px solid $clr4;
    div {
        width: 100px;
        height: 100px;
    }
    h3 {
        text-align: center;
        color: $clr6;
        font-size: 2rem;
        text-shadow: 0px 0px 3px black;
    }
    &:hover {
        scale: 1.1;
        filter: brightness(90%)
    }
}